In [502]:
import pandas as pd

In [503]:
# Load the data from Excel file
data = pd.read_excel("C://Users//Alpana//Desktop//epics//blood donation sample.xlsx")

In [504]:
# Check for missing values in the DataFrame
missing_values = data.isna().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
id                      0
email                   0
name                    0
blood_group             0
sex                     0
age                     0
weight                  0
height                  0
address                 0
diabetes                0
disease                56
no_of_times_donated     0
dtype: int64

In [505]:
data.head()

,id,email,name,blood_group,sex,age,weight,height,address,diabetes,disease,no_of_times_donated
0,1,arjun.kumar@gmail.com,Arjun Kumar,O+,Male,25,70,175,New Delhi,No,Hypertension,2
1,2,sandeep.kaur@gmail.com,Sandeep Kaur,B-,Female,35,65,160,Amritsar,Yes,NaN,3
2,3,rajesh.singh@gmail.com,Rajesh Singh,O+,Male,45,80,180,Mumbai,No,Diabetes,1
3,4,meenakshi.sharma@gmail.com,Meenakshi Sharma,AB-,Female,30,60,155,Jaipur,Yes,NaN,2
4,5,vivek.patel@gmail.com,Vivek Patel,O-,Male,40,75,170,Ahmedabad,Yes,Hypertension,4

In [506]:
# Dropping irrelevant columns 
data = data.drop(columns=["disease", "email","sex", "weight", "height", "diabetes"])

In [507]:
data.head()

   id              name blood_group  age    address  no_of_times_donated
0   1       Arjun Kumar          O+   25  New Delhi                    2
1   2      Sandeep Kaur          B-   35   Amritsar                    3
2   3      Rajesh Singh          O+   45     Mumbai                    1
3   4  Meenakshi Sharma         AB-   30     Jaipur                    2
4   5       Vivek Patel          O-   40  Ahmedabad                    4

In [508]:
# Input from the user
blood_group = input("Enter the blood group: ")

In [509]:
address = input("Enter the address: ")

In [510]:
# Filter the dataset based on user input
filtered_data = data[(data['blood_group'] == blood_group) & (data['address'] == address)]

In [511]:
# Find the person most likely to donate blood based on number of times donated
likely_donor = filtered_data[filtered_data['no_of_times_donated'] == filtered_data['no_of_times_donated'].max()]

In [514]:
# Print the index and names of the likely donors
print("Likely donor(s):")
for index, row in likely_donor.iterrows():
    print("ID:", row['id'], "- Name:", row['name'], "- nearest address", row['address'] )

Likely donor(s):
ID: 21 - Name: Sneha Patel - nearest address Jaipur
ID: 109 - Name: Sonam Kumar - nearest address Jaipur